bokeh==0.12.16
Jinja2==2.10.1
MarkupSafe==1.0
numpy==1.14.5
packaging==17.1
pandas==0.23.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyYAML==5.4
scipy==1.1.0
six==1.11.0
tornado==5.0.2
matplotlib==3.1.0